/* ----------------------------------------------
    Component :: Font Setting
------------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Saira+Condensed:400,500,600&display=swap");
/*
font-family: 'Saira Condensed', sans-serif;
font-family: 'Lato', sans-serif;
*/

/* ----------------------------------------------
    Component :: Star Rating
------------------------------------------------- */

.c-starRating {
  display: inline-block;
  position: relative;
  font-family: "Glyphicons Halflings";
  font-size: 14px;
  text-align: left;
  cursor: default;
  white-space: nowrap;
  line-height: 1.2em;
  color: #dbdbdb;
}
.c-starRating:before {
  display: block;
  position: absolute;
  top: 0;
  left: 1px;
  content: "\e006\e006\e006\e006\e006";
  z-index: 0;
}
.c-starRating .stars {
  display: block;
  overflow: hidden;
  position: relative;
  background: #fff;
  padding-left: 1px;
}
.c-starRating .stars:before {
  content: "\e006\e006\e006\e006\e006";
  color: #fdb714;
}

.c-staticText {
  color: #9e9e9e;
  display: block;
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
}
.c-staticText.sm {
  font-size: 10px;
  line-height: 12px;
}
.c-starRating.r-0 .stars {
  width: 0;
}
.c-starRating.r-0p5 .stars {
  width: 10%;
}
.c-starRating.r-1 .stars {
  width: 20%;
}
.c-starRating.r-1p5 .stars {
  width: 30%;
}
.c-starRating.r-2 .stars {
  width: 40%;
}
.c-starRating.r-2p5 .stars {
  width: 50%;
}
.c-starRating.r-3 .stars {
  width: 60%;
}
.c-starRating.r-3p5 .stars {
  width: 70%;
}
.c-starRating.r-4 .stars {
  width: 80%;
}
.c-starRating.r-4p5 .stars {
  width: 90%;
}
.c-starRating.r-5 .stars {
  width: 100%;
}

/* ----------------------------------------------
    Component :: Buttons
------------------------------------------------- */
.c-button {
  background-color: #fdb714;
  display: inline-block;
  padding: 5px 20px;
  height: auto;
  line-height: normal;
  text-align: center;
  text-decoration: none !important;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  outline: 0;
  box-sizing: border-box;
  letter-spacing: 0.5s;
  transition: all ease 0.3s;
}
.c-button.sm {
  font-size: 11px;
  padding: 3px 20px;
  line-height: 12px;
}
.c-button.lg {
  display: block;
  width: 100%;
}

/* ----------------------------------------------
    Component :: Headings
------------------------------------------------- */
.c-heading {
  display: block;
  color: #333;
  font-size: 18px;
  line-height: 23px;
  margin: 0 0 20px;
}
.c-heading.sm {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 15px;
}
.c-heading.lg {
  font-size: 24px;
  line-height: 30px;
  margin: 0 0 25px;
}
.c-heading.col-white {
  color: #fff;
}

/* ----------------------------------------------
    Component :: Containers
------------------------------------------------- */
.c-containerDark {
  background-color: #f5f5f5;
  padding: 50px 0;
}
.c-pageWrapper {
  position: relative;
  overflow: visible;
}
section.dataContainer {
  min-height: 200px;
  padding-top: 40px;
  text-align: left;
  background: #f5f5f5;
}
section.dataContainer:after {
  display: table;
  content: "";
  clear: both;
}

.dividerSection {
  display: table;
  width: 100%;
}
.dividerSection .divider {
  display: table-cell;
  vertical-align: top;
  line-height: normal;
}
.dividerSection.type-1 .divider.s1 {
  width: 70%;
  text-align: left;
}
.dividerSection.type-1 .divider.s2 {
  width: 30%;
  text-align: right;
}
.dividerSection.vAlign-mid .divider {
  vertical-align: middle;
}

/* ----------------------------------------------
    Component :: Header
------------------------------------------------- */
.c-header {
  position: relative;
  z-index: 999;
}
.c-header .topnav {
  height: 30px;
  background: #01b7f2;
  width: 100%;
}
.c-header .topnav ul.quick-menu > li {
  float: left;
  margin-left: 20px;
}
.c-header .topnav ul.quick-menu > li:first-child {
  margin-left: 0;
}
.c-header .topnav ul.quick-menu > li > a {
  display: block;
  color: #fff;
  line-height: 30px;
  display: block;
  font-size: 0.8333em;
  text-transform: uppercase;
  text-decoration: none;
}
.c-header .ribbon {
  position: relative;
}
.c-header .ribbon > a {
  position: relative;
  padding: 0 10px 0 0;
  text-transform: uppercase;
}
.c-header .ribbon > a:after {
  display: inline-block;
  position: absolute;
  right: 0;
  /*top: 0; */
  content: "\f0d7";
  font-family: FontAwesome;
  color: #fff;
}
.c-header .ribbon:hover > ul.menu {
  top: 28px;
  visibility: visible;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
.c-header .ribbon > ul.menu {
  position: absolute;
  left: -15px;
  top: -9999px;
  z-index: 99;
  visibility: hidden;
}
.c-header .ribbon > ul.menu.left {
  left: auto;
  right: -10px;
}
.c-header .ribbon.currency > ul.menu li a {
  text-transform: uppercase;
  font-size: 0.8333em;
}
.c-header .main-header {
  height: auto;
  position: relative;
  width: 100%;
}
.c-header .logo {
  padding: 0;
  text-align: left;
  margin: 22px 0 0;
  height: auto;
}
.c-header .logo a {
  display: block;
}
.c-header .mobile-menu-toggle {
  background: url(../images/icon/mobile-menu.png) no-repeat center center
    #01b7f2;
  padding: 0;
  margin: 0;
  height: 66px;
  width: 66px;
  padding: 22px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  text-indent: -9999px;
  display: none;
}
.c-header .mobile-menu-toggle .icon-bar {
  background: white;
}

.c-header .logo a,
.c-footer .logo a {
  background: url("../images/logo.png") no-repeat 0 0;
  display: block;
}
.c-header .logo img,
.c-footer .logo img {
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

/*  3.1.3. Navigation */
.menu > li {
  position: relative;
}

/* 3.1.4. Language flags */
.lang-flag {
  padding-left: 20px !important;
}
.lang-flag.en-us {
  background: url(../images/icon/flags/en-us.png) no-repeat left center;
}

.main-menu ul.menu {
  margin: 0;
  float: right;
}
.main-menu ul.menu > li {
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

.main-menu ul.menu > li > a {
  color: #757575;
  font-size: 12px;
  font-weight: normal;
  display: block;
  padding: 0;
  height: 68px;
  line-height: 68px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all ease 0.3s;
}
.main-menu ul.menu > li:hover > a,
.main-menu ul.menu > li.active > a {
  color: #01b7f2;
}

.c-header .mobile-menu {
  background: #01b7f2;
  text-align: left;
}
.c-header .mobile-menu a {
  color: #fff;
  filter: alpha(opacity=70);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  display: block;
  padding: 15px 0;
  background: none !important;
}
.c-header .mobile-menu li.active > a,
.c-header .mobile-menu li:hover > a {
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
.c-header .mobile-menu > ul.menu > li {
  float: none;
  padding-left: 15px;
  padding-right: 15px;
}
.c-header .mobile-menu > ul.menu > li > a {
  font-size: 1.1667em;
  border-top: 1px solid #04afe7;
}
.c-header .mobile-menu > ul.menu > li > a {
  text-transform: uppercase;
  font-weight: bold;
}

.c-header .mobile-menu .mobile-topnav {
  margin: 0 auto;
  padding: 0 5px;
}
.c-header .mobile-menu .mobile-topnav > li {
  float: left;
  position: relative;
  color: #40cbf8;
}
.c-header .mobile-menu .mobile-topnav > li > a {
  font-size: 0.8333em;
  padding: 0 10px;
  margin: 22px 10px;
  line-height: 1em;
  width: auto;
}
.c-header .mobile-menu .mobile-topnav > li:after {
  content: "|";
  position: absolute;
  right: -1px;
  top: 50%;
  margin-top: -10px;
}
.c-header .mobile-menu .mobile-topnav > li:last-child:after {
  display: none;
}
.c-header .mobile-menu .mobile-topnav > li:first-child a {
  margin-left: 0;
}
.c-header .mobile-menu .mobile-topnav .menu.mini {
  left: 0;
  top: 40px;
  visibility: visible;
  display: none;
  min-width: 100px;
}
.c-header .mobile-menu .mobile-topnav .menu.mini li > a {
  padding: 10px 0;
}
.c-header .mobile-menu .mobile-topnav .menu.mini.left {
  left: 0;
  right: auto;
}
.c-header .mobile-menu.menu-color-blue .mobile-topnav li:after,
.c-header .mobile-menu.menu-color-yellow .mobile-topnav li:after,
.c-header .mobile-menu.menu-color-green .mobile-topnav li:after {
  color: #fff;
  filter: alpha(opacity=70);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}

/* 3.1.7. Mini Menu */
.c-header .menu.mini {
  min-width: 180px;
  border: 2px solid #01b7f2;
  background: #fff;
}
.c-header .menu.mini li {
  padding: 0 20px;
  float: none;
  margin: 0;
}
.c-header .menu.mini li a {
  border-bottom: 1px solid #f5f5f5;
  display: block;
  padding: 10px 0;
  color: inherit;
  line-height: normal;
  font-size: 0.9167em;
  text-align: left;
}
.c-header .menu.mini li:hover,
.c-header .menu.mini li.active {
  background: #f5f5f5;
}
.c-header .menu.mini li:hover a,
.c-header .menu.mini li.active a {
  color: #01b7f2;
  font-weight: bold;
}

/* ----------------------------------------------
    Component :: Main page Slider
------------------------------------------------- */
.c-mainSlider {
  position: relative;
  width: 100%;
  padding: 0;
  min-height: 100px;
}

/* background slideshow */
.slideshow-bg {
  position: relative;
}
.slideshow-bg .c-mainSlider {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}
.slideshow-bg .flexslider {
  height: 100%;
  border: none;
  box-shadow: none;
}
.slideshow-bg .flexslider .slides,
.slideshow-bg .flexslider .slides > li {
  height: 100%;
}
.slideshow-bg .flexslider .slidebg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.slideshow-bg #main {
  position: relative;
  z-index: 2;
}
.slideshow-bg .custom-select,
.slideshow-bg .input-text {
  -webkit-backface-visibility: hidden;
}

/* ----------------------------------------------
    Component :: Search Form Container
------------------------------------------------- */
.c-searchContainer {
  background: #fff;
}
.search-box {
  margin-top: -80px;
  position: relative;
  z-index: 99;
}
ul.search-tabs {
  margin: 0;
  padding: 0;
}
ul.search-tabs li {
  float: left;
  padding-right: 4px;
}
ul.search-tabs li a {
  color: #333;
  display: block;
  padding: 0 30px;
  background: #fff;
  font-size: 1em;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  filter: alpha(opacity=40);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  opacity: 0.4;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
ul.search-tabs li a:hover {
  filter: alpha(opacity=70);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}
ul.search-tabs li.active a {
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  color: #01b7f2;
}

.visible-mobile .search-tabs li {
  float: none;
}
.visible-mobile .search-tabs li a {
  color: #01b7f2;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  padding: 0 80px;
  text-align: center;
}
.visible-mobile .search-tabs li a:hover {
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

.search-tab-content {
  padding: 30px 0;
}
.search-tab-content .tab-pane {
  display: none;
}
.search-tab-content .tab-pane.active {
  display: block;
}
.search-tab-content h4.title {
  margin: 10px 0;
  height: 20px;
}
.search-tab-content .fixheight {
  padding-top: 40px;
}

/* search box for mobile */
.search-box .m-search-tabs > li {
  display: none;
}

.search-box .bx-wrapper .bx-viewport {
  box-shadow: none;
  border: none;
  left: 0;
}
.search-box .bx-wrapper .bx-prev,
.search-box .bx-wrapper .bx-next {
  background: #01b7f2;
  font-family: FontAwesome;
}
.search-box .bx-wrapper .bx-controls-direction a {
  width: 30px;
  height: 22px;
  margin-top: -11px;
}
.search-box .bx-wrapper .bx-controls-direction a.disabled {
  display: block;
  background: #d9d9d9;
}
.search-box .bx-wrapper .bx-prev:before,
.search-box .bx-wrapper .bx-next:before {
  display: block;
  position: absolute;
  text-indent: 0;
  line-height: 20px;
  text-align: center;
  width: 30px;
  color: #fff;
}
.search-box .bx-wrapper .bx-prev:before:hover,
.search-box .bx-wrapper .bx-next:before:hover {
  color: white;
}
.search-box .bx-wrapper .bx-prev:before {
  content: "\f177";
}
.search-box .bx-wrapper .bx-next:before {
  content: "\f178";
}

.c-searchContainer .main-search-box {
  padding: 20px 0 10px;
}
.c-searchContainer .main-search-box .row {
  margin: 0;
}
.c-searchContainer .main-search-box .row > div {
  padding: 0;
}
.c-searchContainer .main-search-box .title {
  line-height: 43px;
  margin: 0;
}
.c-searchContainer .main-search-box button {
  font-size: 1em;
}

/* ----------------------------------------------
    Component :: Destinations
------------------------------------------------- */
.c-graySection {
  background-color: #f5f5f5;
  display: block;
  padding: 50px 0;
}
.c-cardType-01 {
  display: block;
  position: relative;
  text-align: left;
  background: #fff;
  margin-bottom: 30px;
}
.c-cardType-01 figure {
  min-height: 120px;
}
.c-cardType-01 img {
  width: 100%;
  height: auto;
}
.c-cardType-01 .cardDetails {
  display: block;
  padding: 15px;
}
.c-cardType-01 .cardTitle {
  display: block;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  color: #2d3e52;
  font-weight: 500;
  font-family: "Saira Condensed", sans-serif;
  letter-spacing: 0.5px;
  transition: color ease 0.3s;
  -moz-transition: color ease 0.3s;
  -webkit-transition: color ease 0.3s;
}
.c-cardType-01 .cardTitle small {
  display: block;
  font-size: 12px;
  color: #838383;
  text-transform: uppercase;
  display: block;
  margin-top: 5px;
}
.c-cardType-01 .cardDetails .priceTag {
  color: #7db921;
  font-size: 18px;
  line-height: 22px;
  display: block;
  font-family: "Saira Condensed", sans-serif;
  font-weight: lighter;
}
.c-cardType-01 .cardDetails .priceTag small {
  display: block;
  color: #838383;
  font-size: 11px;
  line-height: 14px;
  text-transform: uppercase;
}
.c-cardType-01 .cardDetails .c-link:hover .cardTitle {
  color: #01b7f2;
}

.c-cardType-01 .cardDetails .vSection {
  border-top: 1px solid #f5f5f5;
  padding: 7px 0;
  margin: 0;
}
.c-cardType-01 .discount {
  color: #fff;
  background: url(../images/discount-ribin.png) no-repeat;
  line-height: 80px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9167em;
  letter-spacing: 0.04em;
  text-indent: -3px;
  display: block;
  position: absolute;
  left: -4px;
  top: -4px;
  width: 100px;
  height: 102px;
  z-index: 1;
}
.c-cardType-01 .discount .discount-text {
  display: inline-block;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  writing-mode: lr-tb;
}

/* ----------------------------------------------
    Component :: Why Us card type
------------------------------------------------- */
.c-cardPallet {
  display: block;
  position: relative;
  background: #fff;
  padding: 40px 0;
  margin-bottom: 0;
}
.c-cardPallet .imageBox {
  height: 70px;
  width: 70px;
  display: block;
  margin: 0 auto 25px;
  text-align: center;
}
.c-cardPallet .imageBox img {
  height: 70px;
  width: 70px;
}
.c-cardPallet .cardPalletBox {
  display: block;
  margin-top: -1px;
  margin-right: -5px;
}
.c-cardPallet .cardPalletBox article {
  cursor: pointer;
  border-top: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
  margin: 0;
  padding: 15px;
  text-align: center;
}
.c-cardPallet .cardPalletBox .boxTitle {
  color: #333;
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  margin: 0 0 10px;
  text-transform: uppercase;
  font-family: "Saira Condensed", sans-serif;
}
.c-cardPallet .cardPalletBox .boxSubTitle {
  color: #999;
  display: block;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  margin: 0;
}

/* ----------------------------------------------
    Component :: Amazing Destination
------------------------------------------------- */
.c-destinatioBanner {
  display: block;
  position: relative;
  background-image: url(../images/global-map.jpg);
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: auto auto;
  overflow: hidden;
  padding: 70px 0;
}
.c-destinatioBanner .sectionTitle {
  text-align: center;
  color: #fff;
  display: block;
  font-size: 20px;
  line-height: 26px;
  margin: 0 0 30px;
}
.c-destinatioBanner .sectionSubTitle {
  text-align: center;
  color: #7c9abd;
  display: block;
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 30px;
}
.c-destinatioBanner .icon-box {
  display: block;
  text-align: center;
}
.c-destinatioBanner .icon-box i {
  color: #fdb714;
  display: inline-block;
  text-align: center;
  font-size: 5em;
  vertical-align: baseline;
}
.c-destinatioBanner .icon-box .box-title {
  color: #fff;
  font-size: 16px;
  display: block;
  margin: 10px 0;
  font-weight: 500;
  font-family: "Saira Condensed", sans-serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.c-destinatioBanner .description {
  display: block;
  color: #7c9abd;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 15px;
}

/* ----------------------------------------------
    Component :: Footer
------------------------------------------------- */
.c-footer {
  display: block;
  position: relative;
}
.c-footer .footer-wrapper {
  padding: 80px 0;
}
.c-footer .discover li {
  line-height: 2.6667em;
  font-size: 1.0833em;
}
.c-footer h2 {
  margin-bottom: 20px;
}
.c-footer .travel-news li {
  margin-bottom: 30px;
}
.c-footer .travel-news li .s-title {
  margin-bottom: 5px;
}
.c-footer .travel-news li .date {
  color: #9e9e9e;
}
.c-footer .travel-news li .thumb {
  float: left;
  width: 70px;
}
.c-footer .travel-news li:after {
  clear: both;
  content: " ";
  display: table;
}
.c-footer .travel-news li .description {
  padding-left: 78px;
}
.c-footer .travel-news li .description span.date {
  display: block;
  margin-top: 5px;
  font-size: 0.9133em;
}
.c-footer .bottom {
  height: 60px;
}
.c-footer .bottom .logo {
  margin: 18px 0 0;
}
.c-footer .bottom .copyright {
  font-size: 1.0833em;
  margin: 23px 20px 0;
}
.c-footer .bottom #back-to-top {
  margin-top: 20px;
  display: block;
  font-size: 16px;
  color: #2d3e52;
}
.c-footer .bottom #back-to-top i {
  border-color: #01b7f2;
  font-weight: bold;
  overflow: hidden;
}
.c-footer .bottom #back-to-top:hover > i:before {
  -webkit-animation: toTopFromBottom 0.3s forwards;
  -moz-animation: toTopFromBottom 0.3s forwards;
  animation: toTopFromBottom 0.3s forwards;
  display: inline-block;
}

.c-footer .c-footerLink li {
  display: block;
  list-style-type: none;
}
.c-footer .c-footerLink li a {
  position: relative;
  display: block;
  padding: 7px 0;
  font-size: 12px;
  line-height: 18px;
  color: #999;
  text-decoration: none;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.c-footer .c-footerLink li a:hover {
  color: #01b7f2;
}
.c-footer .c-footerLink li a::before {
  content: "\f04b";
  margin-right: 10px;
  color: #d9d9d9;
  display: block;
  float: left;
  font-size: 7px;
  font-family: "FontAwesome";
}

/* ----------------------------------------------
    Component :: Slider
------------------------------------------------- */
.c-cardSlider {
  position: relative;
  box-shadow: none;
  border: none;
  margin: 0;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  -ms-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  background: none;
}
.c-cardSlider.flexslider .slides > li {
  display: none;
}
.c-cardSlider .flex-direction-nav {
  position: absolute;
  right: 0;
  top: -40px;
  width: 72px;
  height: 22px;
}
.c-cardSlider .flex-direction-nav li a {
  width: 30px;
  height: 22px;
  background: #01b7f2;
  color: #fff;
  text-indent: -9999px;
  text-align: left;
  position: static;
  float: left;
  margin: 0;
  filter: alpha(opacity=100) !important;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)" !important;
  -moz-opacity: 1 !important;
  -khtml-opacity: 1 !important;
  opacity: 1 !important;
  -moz-transition: none 1s ease-in-out;
  -o-transition: none 1s ease-in-out;
  -webkit-transition: none 1s ease-in-out;
  -ms-transition: none 1s ease-in-out;
  transition: none 1s ease-in-out;
}
.c-cardSlider .flex-direction-nav li a:before {
  position: absolute;
  display: block;
  font-family: FontAwesome;
  text-indent: 0;
  font-size: 12px;
  line-height: 22px;
}
.c-cardSlider .flex-direction-nav li a.flex-prev {
  margin-right: 10px;
}
.c-cardSlider .flex-direction-nav li a.flex-prev:before {
  content: "\f177";
  left: 8px;
}
.c-cardSlider .flex-direction-nav li a.flex-next:before {
  content: "\f178";
  right: 9px;
}
.c-cardSlider .flex-direction-nav li a.flex-disabled {
  background: #d9d9d9;
}
.c-cardSlider .slides > li {
  margin-right: 30px;
}
.c-cardSlider .slides > li:last-child {
  margin-right: 0;
}
.c-cardSlider .flex-control-nav {
  display: none;
}
.c-cardSlider.row-2 li > a:first-child {
  margin-bottom: 30px;
}
.c-cardSlider .c-cardType-01 {
  margin: 0;
}

.c-addBanner {
  position: relative;
  padding: 0;
}
@media (max-width: 768px) {
  .c-addBanner {
    padding: 50px 0;
  }
  .c-addBanner .dividerSection,
  .c-addBanner .dividerSection .divider {
    display: block;
    text-align: center;
  }
}

/* ----------------------------------------------
    Component :: Shopping Cart
------------------------------------------------- */
.c-shoppingCart {
  display: block;
  float: right;
}
.c-shoppingCart .cartBtn {
  border: 0;
  display: block;
  padding: 15px;
  position: relative;
  line-height: normal;
  height: auto;
  outline: none;
  background: #01b7f2;
  margin: 7px 0 0;
  transition: all ease 0.3s;
}
.c-shoppingCart .cartBtn .fa {
  display: block;
  font-size: 25px;
  color: #fff;
  line-height: 24px;
}
.c-shoppingCart .cartBtn .notify {
  background: red;
  position: absolute;
  height: 17px;
  width: 17px;
  top: 11px;
  right: 4px;
  text-align: center;
  padding: 4px 3px;
  line-height: 10.5px;
  font-size: 9px;
  color: #fff;
  border-radius: 30px;
}
.dropdown-menu {
  border-color: #01b7f2;
  padding: 10px;
  margin: 0;
  left: auto;
  right: 0;
  width: 250px;
  box-sizing: border-box;
  border-radius: 0;
}
@media (max-width: 768px) {
  .c-shoppingCart {
    display: none;
  }
}

/* ----------------------------------------------
    Component :: Hotel List card
------------------------------------------------- */
.c-cardList {
  display: block;
  position: relative;
  margin-bottom: 20px;
}
.c-cardListTable {
  background-color: #fff;
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 0;
  box-shadow: 0 0 4px #e6e6e6;
  -moz-box-shadow: 0 0 4px #e6e6e6;
  -webkit-box-shadow: 0 0 4px #e6e6e6;
}
.c-cardListTable .cardList-image {
  display: table-cell;
  vertical-align: top;
  width: 270px;
}
.c-cardListTable .cardList-image img {
  display: block;
  width: 270px;
}
.c-cardListTable .cardList-info {
  display: table-cell;
  padding: 10px 15px;
  box-sizing: border-box;
  vertical-align: middle;
}
.cardList-info .dividerSection {
  padding: 0 0 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #f5f5f5;
}
.cardList-info .dividerSection .divider.s1 {
  padding-right: 10px;
}
.cardList-info .dividerSection .divider.s2 {
  text-align: center;
  padding: 0 0 0 10px;
  border-left: 1px solid #f5f5f5;
}
.cardList-info .cardTitle {
  display: block;
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 3px;
  color: #2d3e52;
  font-weight: 600;
  font-family: "Saira Condensed", sans-serif;
  letter-spacing: 0.5px;
}
.cardList-info .cardInfoLine {
  position: relative;
  display: block;
  font-size: 11px;
  color: #838383;
  text-transform: uppercase;
  padding-left: 15px;
  font-family: "Saira Condensed", sans-serif;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}
.cardList-info .cardInfoLine::before {
  color: #fdb714;
  font-size: 16px;
  line-height: 17px;
  position: absolute;
  left: 0;
  top: 0;
  font-family: "soap-icons";
  content: "\e85d";
}
.cardList-info .cardInfoLine.guests::before {content: '\e8b7';}
.cardList-info .priceTag {
  color: #7db921;
  font-size: 18px;
  line-height: 22px;
  display: block;
  font-family: "Saira Condensed", sans-serif;
  font-weight: lighter;
}
.cardList-info .priceTag small {
  display: block;
  color: #adadad;
  font-size: 11px;
  line-height: 14px;
  text-transform: uppercase;
}
.cardList-info .hotelInfo {
  display: block;
  color: #adadad;
  font-size: 13px;
  line-height: 18px;
}
.cardList-info .dividerSection.infoSection {
  border: 0;
  margin: 0;
  padding: 0;
}

.c-aminityList {
  display: block;
  position: relative;
}
.c-aminityList ul {
  display: block;
  margin: 0;
  padding: 0;
  height: auto;
  overflow: hidden;
}
.c-aminityList ul li {
  border: 1px solid #eee;
  display: inline-block;
  height: 30px;
  width: 30px;
  box-sizing: border-box;
  margin-right: 7px;
  vertical-align: top;
  text-align: center;
  padding: 2px 0;
  position: relative;
  cursor: pointer;
  border-radius: 40px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
}
.c-aminityList ul li .icon {
  display: inline-block;
  color: #cccccc;
  font-size: 20px;
  line-height: 23px;
  vertical-align: middle;
  transition: color ease 0.3s;
}
.c-aminityList ul li:hover .icon {
  color: #01b7f2;
}
.cardList-info .c-starRating {
  margin: 10px 0 0;
}
.cardList-info .c-starRating .rating {
  color: #adadad;
  text-align: center;
  font-family: "Saira Condensed", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  padding: 2px 0;
  margin: 0;
  line-height: 12px;
}

.cardList-accordian{
  border: 0;
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  box-shadow: 0 1px 4px #e6e6e6;
  -moz-box-shadow: 0 1px 4px #e6e6e6;
  -webkit-box-shadow: 0 1px 4px #e6e6e6;
}

@media (max-width: 600px) {
  .c-cardListTable .cardList-image{vertical-align: middle;}
  .c-cardListTable .cardList-image,
  .c-cardListTable .cardList-image img{width: 170px;}
  .cardList-info .dividerSection.infoSection .divider.s1{display: none;}
  .cardList-info .cardTitle {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 480px) {
  .c-cardListTable {
    display: block;
  }
  .c-cardListTable .cardList-image,
  .c-cardListTable .cardList-image img {
    display: block;
    width: 100%;
  }
  .cardList-info .dividerSection .divider.s1 {
    padding-right: 10px;
  }
  .cardList-info .dividerSection .divider.s2 {
    padding-right: 0;
  }
  .cardList-info .dividerSection.infoSection {
    display: block;
  }
  .cardList-info .dividerSection.infoSection .divider.s1 {
    padding: 0;
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  .cardList-info .dividerSection.infoSection .divider.s2 {
    border: 0;
    padding: 0;
    display: block;
    width: 100%;
  }
}

.c-cardListTable.type-2 .cardList-image,
.c-cardListTable.type-2 .cardList-image img{
  width: 150px;
}
.c-cardListTable.type-2 .cardList-info{padding: 10px;}
.c-cardListTable.type-2 .cardList-info .cardTitle{
  font-size: 14px;
  line-height: 18px;
  color: #999;
}

/* ----------------------------------------------
    Component :: Tabs
------------------------------------------------- */
.c-compTabs{
  display: block;
  position: relative;
  box-sizing: border-box;
}
.c-compTabs .nav-tabs{display: block; margin: 0; padding: 0; border-color: #f5f5f5;}
.c-compTabs .nav-tabs .nav-item{margin-bottom: 0;}
.c-compTabs .nav-tabs .nav-item .nav-link{
  border: 0;
  border-bottom: 1px solid transparent;
  background-color: #eee;
  display: block;
  color: #999;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  font-family: "Saira Condensed", sans-serif;
  padding: 5px 15px;
  line-height: 15px;
  border-radius: 0;
}
.c-compTabs .nav-tabs .nav-item .nav-link.active{
  background-color: #01b7f2;
  color: #fff;
}
/* ----------------------------------------------
    Component :: Utilities
------------------------------------------------- */

.c-link,
.c-link > * {
  border: 0;
  display: block;
  text-decoration: none !important;
  outline: none;
  line-height: normal;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.c-link:hover,
.c-link:hover > * {
  color: #01b7f2;
}
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.pad0 {
  padding: 0 !important;
}
.pad0-btm {
  padding-bottom: 0 !important;
}
.p20-top {
  padding-top: 20px;
}
.m0 {
  margin: 0 !important;
}
.m20-top {
  margin-top: 20px;
}
.m10-btm {
  margin-bottom: 10px;
}
.overflow-hidden {
  overflow: hidden;
}
.full-width {
  width: 100% !important;
}
.text-right {
  text-align: right;
}
.t-uppercase {
  text-transform: uppercase;
}
.noFloat {
  float: none !important;
}
.txt-bold {
  font-weight: 700;
}
.txt-light {
  font-weight: 300;
}
.fade {
  transition: opacity .15s linear;
}
.show {
  opacity: 1;
  display: block!important;
}
.onlyForMobile {
  display: none !important;
}
.onlyForDesktop {
  display: block !important;
}
@media (max-width: 768px) {
  .onlyForMobile {
    display: block !important;
  }
  .onlyForDesktop {
    display: none !important;
  }
  .M-m20-btm {
    margin-bottom: 20px;
  }
  .M-p50-btm {
    padding-bottom: 50px !important;
  }
}
