
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Condensed:400,700&display=swap');

/*
font-family: 'Lato', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/

/* -------------------------------------
	Theme default CSS
------------------------------------- */
a,
a:hover {
  text-decoration: none;
}
body,
html {
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 24px;
  vertical-align: baseline;
  color: #646464;
  @extend .nopad;
  @extend .nomargin;
}

$primaryColor: #01b7f2;
$secondaryColor: #fdb714;
$fontColor: #999999;
$white: #ffffff;
$black: #000000;

/* -------------------------------------------------
				iTours :: Font Icons
	---------------------------------------------------- */
@font-face {
  font-family: "itours";
  src:url("../fonts/itours.eot");
  src:url("../fonts/itours.eot?#iefix") format("embedded-opentype"),
    url("../fonts/itours.woff") format("woff"),
    url("../fonts/itours.ttf") format("truetype"),
    url("../fonts/itours.svg#itours") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "itours" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="itours-"]:before,
[class*=" itours-"]:before {
  font-family: "itours" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.itours-exclamation-circle:before {
  content: "\61";
}
.itours-delete:before {
  content: "\62";
}
.itours-verified:before {
  content: "\63";
}
.itours-angle-down:before {
  content: "\64";
}
.itours-angle-left:before {
  content: "\65";
}
.itours-angle-right:before {
  content: "\66";
}
.itours-angle-up:before {
  content: "\67";
}
.itours-caret-up:before {
  content: "\68";
}
.itours-caret-right:before {
  content: "\69";
}
.itours-caret-left:before {
  content: "\6a";
}
.itours-caret-down:before {
  content: "\6b";
}
.itours-call-phone:before {
  content: "\6c";
}
.itours-user:before {
  content: "\6d";
}


/* -------------------------------------------------
				Utilities and setting variables
	---------------------------------------------------- */

.clear,
%clear {
  clear: both;
}
.left,
%left {
  float: left;
}
.right,
%right {
  float: right;
}
.center,
%center {
  margin: 0 auto;
}
.nofloat,
%nofloat {
  float: none;
}
.absolute,
%absolute {
  position: absolute;
}
.relative,
%relative {
  position: relative;
}
.noborder,
%noborder {
  border: 0 none;
}
.hide,
%hide {
  display: none;
}
.novis,
%novis {
  visibility: hidden;
}
.block,
%block {
  display: block;
}
.inlineblock,
%inlineblock {
  display: inline-block;
}
.inline,
%inline {
  display: inline;
}
.display-table,
%display-table {
  display: table;
}
.text-center,
%text-center {
  text-align: center;
}
.text-left,
%text-left {
  text-align: left;
}
.text-right,
%text-right {
  text-align: right;
}
.bold,
%bold {
  font-family: 'Biotif-bold', 'Segoe UI', sans-serif;
}
.text-uppercase,
%text-uppercase {
  text-transform: uppercase;
}
.pointer,
%pointer {
  cursor: pointer;
}
.border-box,
%border-box{
  box-sizing: border-box;
}

.font-8,
%font-8 {
  font-size: 8px;
}
.font-10,
%font-10 {
  font-size: 10px;
}
.font-12,
%font-12 {
  font-size: 12px;
}
.font-14,
%font-14 {
  font-size: 14px;
}
.font-16,
%font-16 {
  font-size: 16px;
}
.font-18,
%font-18 {
  font-size: 18px;
}
.font-20,
%font-20 {
  font-size: 20px;
}
.font-22,
%font-22 {
  font-size: 22px;
}
.font-24,
%font-24 {
  font-size: 24px;
}

.valign-middle,
%valign-middle {
  vertical-align: middle;
}
.height100,
%height100 {
  height: 100%;
}
.width100,
%width100 {
  width: 100%;
}

.nopad,
%nopad {
  padding: 0;
}
.pad5,
%pad5 {
  padding: 5px;
}
.pad10,
%pad10 {
  padding: 10px;
}
.pad15,
%pad15 {
  padding: 15px;
}
.pad20,
%pad20 {
  padding: 20px;
}

.pad0-top,
%pad0-top {
  padding-top: 0;
}
.pad5-top,
%pad5-top {
  padding-top: 5px;
}
.pad10-top,
%pad10-top {
  padding-top: 10px;
}
.pad15-top,
%pad15-top {
  padding-top: 15px;
}
.pad20-top,
%pad20-top {
  padding-top: 20px;
}

.pad0-right,
%pad0-right {
  padding-right: 0;
}
.pad5-right,
%pad5-right {
  padding-right: 5px;
}
.pad10-right,
%pad10-right {
  padding-right: 10px;
}
.pad15-right,
%pad15-right {
  padding-right: 15px;
}
.pad20-right,
%pad20-right {
  padding-right: 20px;
}

.pad0-bottom,
%pad0-bottom {
  padding-bottom: 0;
}
.pad5-bottom,
%pad5-bottom {
  padding-bottom: 5px;
}
.pad10-bottom,
%pad10-bottom {
  padding-bottom: 10px;
}
.pad15-bottom,
%pad15-bottom {
  padding-bottom: 15px;
}
.pad20-bottom,
%pad20-bottom {
  padding-bottom: 20px;
}

.pad0-left,
%pad0-left {
  padding-left: 0;
}
.pad5-left,
%pad5-left {
  padding-left: 5px;
}
.pad10-left,
%pad10-left {
  padding-left: 10px;
}
.pad15-left,
%pad15-left {
  padding-left: 15px;
}
.pad20-left,
%pad20-left {
  padding-left: 20px;
}

.nomargin,
%nomargin {
  margin: 0;
}
.margin5,
%margin5 {
  margin: 5px;
}
.margin10,
%margin10 {
  margin: 10px;
}
.margin15,
%margin15 {
  margin: 15px;
}
.margin20,
%margin20 {
  margin: 20px;
}

.margin0-top,
%margin0-top {
  margin-top: 0;
}
.margin5-top,
%margin5-top {
  margin-top: 5px;
}
.margin10-top,
%margin10-top {
  margin-top: 10px;
}
.margin15-top,
%margin15-top {
  margin-top: 15px;
}
.margin20-top,
%margin20-top {
  margin-top: 20px;
}

.margin0-right,
%margin0-right {
  margin-right: 0;
}
.margin5-right,
%margin5-right {
  margin-right: 5px;
}
.margin10-right,
%margin10-right {
  margin-right: 10px;
}
.margin15-right,
%margin15-right {
  margin-right: 15px;
}
.margin20-right,
%margin20-right {
  margin-right: 20px;
}

.margin0-bottom,
%margin0-bottom {
  margin-bottom: 0;
}
.margin5-bottom,
%margin5-bottom {
  margin-bottom: 5px;
}
.margin10-bottom,
%margin10-bottom {
  margin-bottom: 10px;
}
.margin15-bottom,
%margin15-bottom {
  margin-bottom: 15px;
}
.margin20-bottom,
%margin20-bottom {
  margin-bottom: 20px;
}

.margin0-left,
%margin0-left {
  margin-left: 0;
}
.margin5-left,
%margin5-left {
  margin-left: 5px;
}
.margin10-left,
%margin10-left {
  margin-left: 10px;
}
.margin15-left,
%margin15-left {
  margin-left: 15px;
}
.margin20-left,
%margin20-left {
  margin-left: 20px;
}

@mixin rounded-corners($property) {
  -webkit-border-radius: $property;
  -moz-border-radius: $property;
  border-radius: $property;
}

@mixin box-shadow($property) {
  box-shadow: $property;
  -moz-box-shadow: $property;
  -webkit-box-shadow: $property;
  -ms-box-shadow: $property;
  -o-box-shadow: $property;
}

@mixin transition($property) {
  transition: $property;
  -moz-transition: $property;
  -webkit-transition: $property;
  -o-transition: $property;
  -ms-transition: $property;
}

.textWhite,
%text-white {
  color: $white;
}
.bgWhite,
%bg-white {
  background-color: $white;
}
